/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.input-group {
  margin: auto;
  margin-top: 5rem;
  border: 1px solid red;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form-control:focus {
  /* border-color: crimson !important; */
  box-shadow: 0 0 0 0.2rem rgba(217, 83, 79, 0.7) !important;
}
.todo-list {
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px auto;
}
.todoText {
  /* width: 75%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
